body{
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}
a{
    color: #333;
    text-decoration: none!important;
}
h3{
    font-size: 1.8rem;
    padding: 1rem 0;
    font-weight: bold;
}
h5{
    font-size: 1.5rem;
    font-weight: bold;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
$warning : #fcdb00;
// utility
.text-warning{
    color: $warning!important;
}
.bg-warning{
    background-color: $warning!important;
}
.btn{
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: bold;
}
.btn-warning{
    background-color: $warning!important;
}
header{
    button.navbar-toggler{
        cursor: pointer;
        outline:none;
    }
    a{
        font-weight: bold;
    }
    padding: 1.5rem 0;
    .navbar-brand{
        font-size: 1.5rem;
    }
}
section{
    padding: 100px 0;

}
.section__header{
    text-align: center;
    margin: 0 auto;
}
section#main{
    padding-top: 0;
    .wrapper-content{
        h1{
            font-size: 2.1rem;
            font-weight: bold;
        }
        .download-links{
            ul{
                margin: 0;
                padding: 0;
                font-size: 3rem;
                display: inline;
                li{
                    padding-right: 1rem;
                    display: inline;
                    a{
                        color: #010101;
                        &:hover{
                            color: #333;
                        }
                    }
                }
            }
        }
    }
    .image-block{
        display: flex;
        justify-content: center;
        position: relative;
        .logo-ipad{
            position: absolute;
            top: 45%;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
    .carousel-indicators{
        bottom: -70px;
        li{
            cursor: pointer;
            width: 15px!important;
            height: 15px!important;
            border-radius: 50%!important;
        }
    }
}

section#features{
    .row{
        padding: 3rem 0;
        .icon-block{
            padding: 0 .5rem .5rem .5rem;
            font-size: 3rem;
            width: 250px;
            text-align: center
        }
    }
    .row  p{
        color: #898989;
        font-size: .95rem;
    }
}
.footer{
    padding: 2rem 0;
    background-color: #010101;
    h3{
        color: $warning;
    }
    p{
        color: #333;
    }
    .footer-block{
        border-left: 2px $warning solid;
        color: #898989;
        a{
            color: #898989;
        }
    }
    
    .social-links{
        padding: 5rem 0;
        ul{
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            justify-content: center;
            li{
                font-size: 1.5rem;
                margin: 0 .65rem;
                background-color: #fcdb00;
                display: flex;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                justify-content: center;
                align-items: center;
                
            }
        }
    }
    
    

}