$main-color: #86c840;
$main-color-hover: #40c840;
$white-color: #fff;
$dark-color: #222;

body{
    font-size: 16px!important;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700!important;
}
a{
    cursor: pointer;
    text-decoration: none!important;
}
ul{
    padding-inline-start: 30px;
    list-style-type: none;
}
ul li{
    list-style-type: none;
}
blockquote{
    font-size: 1.7rem;
    &:before,:after{
        display: block;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: $main-color;
        color: $white-color;
        
    }
    &:before{ 
        padding-top: 10px;
        padding-left: 5px;
        content: '\f10d';
        font-family: FontAwesome;
        position: absolute;
        left: 0;
        top: 25%;
        margin-right: 2rem;
        font-size: 1.3rem;
    }
    &:after{ 
        padding-top: 10px;
        padding-left: 5px;
        content: '\f10e';
        font-family: FontAwesome;
        position: absolute;
        right: 0;
        top: 25%;

        width: 50px;
        height: 50px;
        background-color: $main-color;
        color: $white-color;
        border-radius: 50%;
        font-size: 1.3rem;
    }
}

ul.descriptionData{
    
    display: inline;
    padding-inline-start: 0px!important;
    li{
        display: inline;
    }
}
.icon{
    width: 22px;
    height: 22px;
    border: 2px #000 solid;
    border-radius: 50%;
}
.nameBlock{
    border-left: 6px $main-color solid;
}
.imgNews{
    width: 250px;
    height: 180px;
}
a.buttonNews{
    width: 130px;
    font-weight: 600;
    transition: all 0.7s;
    padding: 7px;
    border: 2px transparent solid;
}
a.buttonNews:hover{
    border: 2px $main-color-hover solid;
}
.buttonWork{
    text-decoration: none!important;
    display: block;
    width: 34px;
    height: 34px;
    background-color: $main-color;
    border-radius: 50%;
    font-weight: 600;
}
.buttonWork:hover{
    background-color: $main-color-hover;
    color: $white-color;
}
.buttonPage{
    position: relative;
    background-color: $main-color;
    color: $white-color;
    transition: all 0.7s;
    font-weight: 600;
}
.buttonPage:hover{
    background-color: $main-color-hover;
    color: $white-color;
}
.buttonPage:after{
    position: absolute;
    width: 50px;
    height: 50px;
}

// navigation
.navigation{
    
    span.logo{
        color: $main-color;
        font-weight: 600;
    }
    a.menuLinkActive{
        color: $main-color!important;
        
    } 
    .menuList  ul li a{
        font-weight: 600;
        position: relative!important;
        color: $dark-color;
        &:hover{
            color: $main-color-hover;
        }  
        
    }
 
}

section#subscribe{
    height: 520px;
}
section#freeFreebies{
    .imgWorkPlace{
        height: 220px;
        width: 100%;
    }
    .content{
        
    }
    .articleImg{
        position: relative!important;
        overflow: hidden;
    }
    .contentDescription{
        display: block;
        color: $white-color;
        position: absolute;
        height: 20%;
        width: 100%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.884);
        transition: all 1s;
        overflow: hidden;
        top: 100%;
    }
    .content:hover .contentDescription{
        opacity: 1;
        top: 80%;
    }
    
}
.latestTweets li:before{
    content: "\f099"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}
section#footer{
    .bottomNav{
        li a{
            font-weight: 600;
            color: $dark-color!important;
            transition: all 0.7s;
            &:hover{
                color: $main-color-hover!important;
            }
        }
    }
    .socialLink{
        display: flex;
        width: 40px;
        height: 40px;
        background-color: $dark-color;
        margin: 0 .5rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:$white-color;
        transition: all 0.7s;
        &:hover{
            color: $main-color-hover;
            box-shadow: 0px 0px 10px rgb(94, 93, 93); 
        }
        
    }
}